/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-weight: 700;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

#gallery {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

#gallery > div {
  scroll-snap-align: start;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

#contact button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

#contact button:hover {
  background-color: #0056b3;
}
